vendor/bin/
vendor/doctrine/
vendor/myclabs/
vendor/phar-io/
vendor/phpdocumentor/
vendor/phpspec/
vendor/phpunit/
vendor/sebastian/
vendor/symfony/
vendor/theseer/
vendor/webmozart/
.idea
composer.lock